.about-description {
    background-color: #f5f5f5;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section p {
    line-height: 1.6;
    color: #666;
}

.aboutsection ul {
    list-style-type: square;
    padding-left: 20px;
}

.about-section h3 h2{
    color: #333;
}

@media only screen and (min-width: 800px) and (max-width: 999px) {
    .about-section h2 {
        font-size: 1.1em;
    }

    .about-section h3 {
        font-size: 1.3em;
    }

    .about-section li {
        font-size: 0.9em;
    }

    .about-section p {
        font-size: 0.9em;
    }

    .about-section {
        max-width: 600px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 799px) {
    .about-section h2 {
        font-size: 0.8em;
    }

    .about-section h3 {
        font-size: 1em;
    }

    .about-section li {
        font-size: 0.6em;
    }

    .about-section p {
        font-size: 0.6em;
    }

    .about-section {
        max-width: 400px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 599px) {
    .about-section h2 {
        font-size: 0.6em;
    }

    .about-section h3 {
        font-size: 0.8em;
    }

    .about-section li {
        font-size: 0.4em;
    }

    .about-section p {
        font-size: 0.4em;
    }

    .about-section {
        max-width: 280px;
    }
}

@media only screen and (min-width: 250px) and (max-width: 359px) {
    .about-section h2 {
        font-size: 0.4em;
    }

    .about-section h3 {
        font-size: 0.6em;
    }

    .about-section li {
        font-size: 0.3em;
    }

    .about-section p {
        font-size: 0.2em;
    }

    .about-section {
        max-width: 220px;
    }
}
