.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 60px;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease-in-out;
}

.header-solid {
    background-color: rgba(189, 189, 189, 0.815);
}

.header-right-section {
    display: flex;
    align-items: center;
}

.header div a {
    margin-left: 23px;
    font-size: 17px;
    text-decoration: none;
    color: white;
}

.header-right-section div {
    transition: opacity 0.2s ease-in-out;
}

.header-right-section div:hover {
    opacity: 0.7;
}

.header div:last-child {
    margin-right: 20px;
}


/* Your existing styles for larger screens */

@media only screen and (max-width: 899px) {
    /* Styles for screens between 600px and 899px */

    .header {
        /* Adjust styles for the header on smaller screens, if necessary */
    }

    .burger-menu-icon {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 10px;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

    .burger-menu-active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger-menu-active .bar:nth-child(2) {
        opacity: 0;
    }

    .burger-menu-active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .header-links {
        display: none;
    }

    .burger-menu-active .header-links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 60px; /* Adjust this value based on your header height */
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        padding: 10px;
    }
}

/* Reset styles for screens larger than 900px */
@media only screen and (min-width: 900px) {
    .burger-menu-icon {
        display: none;
    }

    .header-links {
        display: flex;
        /* Add any other styles you want for larger screens */
    }

    .header {
        /* Reset any styles that were modified for smaller screens */
    }
}